@font-face {
    font-family: $font-family-canela;
    src: url('~assets/fonts/canela/Canela-Regular.woff2') format('woff2'),
    url('~assets/fonts/canela/Canela-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: $font-family-corsa;
    src: url('~assets/fonts/corsa-grotesk/CorsaGrotesk-Medium.woff2') format('woff2'),
    url('~assets/fonts/corsa-grotesk/CorsaGrotesk-Medium.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: $font-family-commons;
    src: url('~assets/fonts/tt-commons/tt_commons_medium.woff2') format('woff2'),
    url('~assets/fonts/tt-commons/tt_commons_medium.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


@mixin font-canela-regular() {
    @include text-rendering();

    font-family: $font-family-canela, sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin font-corsa-medium() {
    @include text-rendering();

    font-family: $font-family-corsa, sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin font-commons-medium() {
    @include text-rendering();

    font-family: $font-family-commons, sans-serif;
    font-weight: 400;
    font-style: normal;
}