.heading {
  @include font-giselle-regular();

  margin: 0;
  padding: 0;

  font-size: rem(110px);
  line-height: 0.8;
  text-transform: uppercase;
  letter-spacing: 0.2vw;
}

.subheading {
  @include font-favorit-bold();

  margin: 0;
  padding: 0;

  font-size: rem(16px);
  line-height: rem(25px);
  letter-spacing: -#{-2px};
}


.smallheading {
  @include font-favorit-bold();

  margin: 0;
  padding: 0;

  font-size: rem(12px);
  line-height: rem(12px);
  text-transform: uppercase;
}

.paragraph {
  @include font-favorit-light();

  margin: 0;
  padding: 0;

  color: $color-black;

  font-size: rem(15px);
  line-height: rem(25px);
  letter-spacing: 1.1;
}

.rich-text {
  @extend .paragraph;

  p {
    margin: 0 0 rem(12px) 0;

    &:last-child {
      margin: 0;
    }
  }
}

@include mq-regular {
  .subheading {
    font-size: rem(22px);
    line-height: rem(30px);
  }

  .paragraph {
    font-size: rem(18px);
    line-height: rem(27px);
  }
}

@include mq-wide {
  .subheading {
    font-size: rem(32px);
    line-height: rem(40px);
  }

  .paragraph {
    font-size: rem(20px);
    line-height: rem(35px);
  }
}