.heading {
    @include font-corsa-medium();

    margin: 0;
    padding: 0;

    font-size: rem(110px);
    line-height: 0.95;
}

.subheading {
    @include font-canela-regular();

    margin: 0;
    padding: 0;

    font-size: rem(100px);
}

.paragraph {
    @include font-commons-medium();

    margin: 0;
    padding: 0;

    font-size: rem(18px);
    line-height: rem(25px);
    letter-spacing: 1.1;
}

.rich-text {
    @extend .paragraph;

    p {
        margin: 0 0 rem(12px) 0;

        &:last-child {
            margin: 0;
        }
    }
}